/* body {
    padding-top: 65px;
} */

.navbar {
    margin-bottom: 50px;
}

.brand_color {
    color: #D4AF37
}

.title_color {
    color: #DAA520
}

/* .panel-body {
    background-color: #34495E
} */

.to_center {
    text-align: center;
}

.div_spacing {
    margin-bottom: 20px;
}

/* .img_config {
    height: 200%;
    width: 200%
} */