/* body {
    padding-top: 65px;
} */

.navbar {
    margin-bottom: 50px;
}

.brand_color {
    color: #D4AF37
}

/* .panel-body {
    background-color: #34495E
} */

.to_center {
    text-align: center;
}